{
  "data_base_url": "https://data.alpaca.markets",
  "live_api_key_id": {
    "base_url": "https://api.alpaca.markets",
    "is_paper": false,
    "note": "a helpful note",
    "secret_key": "secret_key"
  },
  "paper_api_key_id": {
    "base_url": "https://paper-api.alpaca.markets",
    "is_paper": true,
    "note": "a helpful note",
    "secret_key": "secret_key"
  }
}
