{
  "backtest": {
    "backtest_start_at": "2023-04-04 13:30:00",
    "base_url": "",
    "id": "backtest_id",
    "is_backtest": true,
    "is_paper": false,
    "secret_key": "secret_key"
  },
  "data_base_url": "https://data.alpaca.markets",
  "live_api_key": {
    "base_url": "https://api.alpaca.markets",
    "id": "live_api_key_id",
    "is_backtest": false,
    "is_paper": false,
    "secret_key": "secret_key"
  },
  "paper_api_key": {
    "base_url": "https://paper-api.alpaca.markets",
    "id": "paper_api_key_id",
    "is_backtest": false,
    "is_paper": true,
    "secret_key": "secret_key"
  }
}
