{
  "data_base_url": "https://data.alpaca.markets",
  "live": {
    "api_key_id": "key",
    "api_secret_key": "secret",
    "base_url": "https://api.alpaca.markets"
  },
  "paper": {
    "api_key_id": "key",
    "api_secret_key": "secret",
    "base_url": "https://paper-api.alpaca.markets"
  }
}
