/cpp/build/
/cpp/tmp/
/elixir/_build/
/elixir/config/*.secret.exs
/elixir/cover/
/elixir/deps/
/elixir/doc/
/elixir/log/
/elixir/priv/repo/scripts/*.secret.sql
/elixir/tmp/
/elixir/.fetch
/elixir/erl_crash.dump
/elixir/hottspot_capital-*.tar
*.ez
*.sw*
.env*
