/cpp/**/build/
/cpp/**/config/**/*.json
/cpp/**/data/**/*.json
!/cpp/**/data/**/benchmark.json
/cpp/**/*.ignore
/cpp/**/deps/*
!/cpp/**/deps/requirements.txt
/cpp/**/log/
/cpp/**/tmp/
/cpp/**/__pycache__/
*.ez
*.sw*
.env*
