{
  "current_balance": 0.00,
  "current_loss_streak_balance": 0.00,
  "max_balance": 0.00,
  "positions": [
    {
      "close_order": {
        "action": "buy",
        "id": "abcdef-123456",
        "profit": 0.00,
        "quantity": 1.0,
        "timestamp": 1662143151
      },
      "open_order": {
        "action": "sell",
        "id": "abcdef-123457",
        "profit": 0.00,
        "quantity": 1.0,
        "timestamp": 1662143151
      }
    },
  ],
  "symbol": "ABCD"
}
