{
  "all": {
    "2022-01-25": {
      "close": 50000.00,
      "open": 50000.00,
      "profit_dollars": 0.00,
      "profit_ratio": 0.0000
    }
  },
  "qqq": {
    "2022-01-25": {
      "close": 300.00,
      "open": 300.00,
      "profit_dollars": 0.00,
      "profit_ratio": 0.0000
    }
  },
  "week": [0.00]
}
