{
  "live": {
    "account_id": "1234-abcd",
    "account_stop_loss_ratio": 0.0,
    "authentication_token": "abcdef123456",
    "base_url": "https://api-fxtrade.oanda.com",
    "debug_sql": false,
    "env_symbols": ["EUR_USD"]
  },
  "paper": {
    "account_id": "1234-abcd",
    "account_stop_loss_ratio": 0.0,
    "authentication_token": "abcdef123456",
    "base_url": "https://api-fxpractice.oanda.com",
    "debug_sql": false,
    "env_symbols": ["EUR_USD"]
  }
}
