{
  "account_id": "abcde12345",
  "account_id_key": "abc-de-12345",
  "base_url": "https://apisb.etrade.com/v1",
  "oauth_consumer_key": "consumer_key",
  "oauth_consumer_secret": "consumer_secret"
}
