{
  "backtest": {
    "account_stop_loss_ratio": 0.0,
    "account_stop_profit_ratio": 0.0,
    "backtest": {
      "account_margin_multiplier": 4,
      "account_starting_equity": 30000,
      "clock_sync": false,
      "force_exec_slow_queries": false,
      "is_active": true,
      "end_at": "2023-03-28 13:30:00",
      "start_at": "2023-03-27 13:30:00",
    },
    "base_url": "",
    "id": "backtest_id",
    "is_live": false,
    "is_stop_loss_scaled": true,
    "late_start_seconds": 6,
    "ml": {
      "candle_predict": {
        "duration_minutes": 5,
        "enabled": true,
        "on_demand_predictions": true,
        "prediction_scope": "all",
        "should_secure_profit": true,
        "rollover_positions": true,
        "stop_loss_ratio": -45.0,
        "symbol_model_map": {
          "AMZN": "linear",
          "TSLA": "lstm"
        }
      }
    },
    "secret_key": "secret_key"
    "stop_loss_ratio": -60.0,
    "stop_profit_ratio": 2.0,
  },
  "data_base_url": "https://data.alpaca.markets",
  "live_api_key": {
    "account_stop_profit_ratio": 0.0625,
    "account_stop_loss_ratio": -0.025,
    "base_url": "https://api.alpaca.markets",
    "id": "live_api_key_id",
    "is_backtest": false,
    "is_live": false,
    "is_stop_loss_scaled": false,
    "late_start_seconds": 25,
    "ml": {
      "candle_predict": {
        "duration_minutes": 5,
        "enabled": true,
        "on_demand_predictions": false
        "prediction_scope": "single",
        "should_secure_profit": true,
        "rollover_positions": true,
        "stop_loss_ratio": -45.0,
      }
    },
    "secret_key": "secret_key"
    "stop_loss_ratio": -60.0,
    "stop_profit_ratio": 2.0,
  },
  "paper_api_key": {
    "account_stop_profit_ratio": 0.0,
    "account_stop_loss_ratio": -0.08,
    "base_url": "https://paper-api.alpaca.markets",
    "id": "paper_api_key_id",
    "is_backtest": false,
    "is_live": true,
    "is_stop_loss_scaled": true,
    "late_start_seconds": 25,
    "ml": {
      "candle_predict": {
        "duration_minutes": 5,
        "enabled": true,
        "on_demand_predictions": false
        "prediction_scope": "all",
        "should_secure_profit": true,
        "rollover_positions": true,
        "stop_loss_ratio": -45.0,
      }
    },
    "secret_key": "secret_key"
    "stop_loss_ratio": -60.0,
    "stop_profit_ratio": 2.0,
  }
}
