{
  "backtest": {
    "backtest__account_margin_multiplier": 4,
    "backtest__account_max_stop_loss": false,
    "backtest__account_starting_equity": 30000,
    "backtest__clock_sync": false,
    "backtest__start_at": "2023-03-27 13:30:00",
    "base_url": "",
    "id": "backtest_id",
    "is_backtest": true,
    "is_live": false,
    "late_start_seconds": 6,
    "ml__on_demand_predictions": true,
    "secret_key": "secret_key"
  },
  "data_base_url": "https://data.alpaca.markets",
  "live_api_key": {
    "base_url": "https://api.alpaca.markets",
    "id": "live_api_key_id",
    "is_backtest": false,
    "is_live": false,
    "late_start_seconds": 25,
    "ml__on_demand_predictions": false,
    "secret_key": "secret_key"
  },
  "paper_api_key": {
    "base_url": "https://paper-api.alpaca.markets",
    "id": "paper_api_key_id",
    "is_backtest": false,
    "is_live": true,
    "late_start_seconds": 25,
    "ml__on_demand_predictions": false,
    "secret_key": "secret_key"
  }
}
