{
  "development": {
    "host": "localhost",
    "name": "hottspot_capital_development",
    "password": "password",
    "port": 5432,
    "username": "username"
  },
  "production": {
    "host": "localhost",
    "name": "hottspot_capital_production",
    "password": "password",
    "port": 5432,
    "username": "username"
  },
  "test": {
    "host": "localhost",
    "name": "hottspot_capital_test",
    "password": "password",
    "port": 5432,
    "username": "username"
  }
}
